<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i class="fas fa-shipping-fast">
                &nbsp;&nbsp;<strong>Flipcart</strong>
            </i>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search Product">
            </div>
            <i class="fa-light fa-magnifying-glass"></i>
        </div>

        <button class="bye btn-primary">
            <i class="fas fa cart-plus"></i>
            <div class="badge bg-danger">5</div>
        </button>
    </div>
</header>
